openapi: "3.0.3"
info:
  title: "Swagger спецификация [Bus Schedule]"
  description: "Информация о всех запросах этого сервиса"
  version: "1.0.0"
  contact:
    name: Владимир Шальков
    email: admin@shalkoff.ru

servers:
  - url: "https://shalkoff.ru/projects/bus"
  - url: "https://shalkoff.ru"
  - url: "http://shalkoff.ru"
  - url: "http://shalkoff.ru/projects/bus"
  - url: "http://0.0.0.0:8080"

security:
  - AuthApiKey: []

paths:
  /auth:
    post:
      summary: Авторизация пользователя
      description: "Авторизация"
      tags: [Авторизация]
      security: []
      requestBody:
        description: "Запрос для авторизации"
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AuthRequest"
      responses:
        "200":
          description: Авторизация прошла успешно
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthResponse"
        "400":
          description: Ошибка авторизации
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServerError"

  /register:
    post:
      summary: Регистрация пользователя
      description: "Регистрация"
      tags: [Авторизация]
      security: []
      requestBody:
        description: "Запрос для регистрации"
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RegisterRequest"
      responses:
        "200":
          description: Регистрация прошла успешно
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthResponse"
        "400":
          description: Ошибка регистрации
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServerError"

  /refresh:
    post:
      summary: Обновление токенов
      description: При протухании access-токена - посылается данный запрос для обновления пары токенов
      tags: [Авторизация]
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              properties:
                refreshToken:
                  $ref: "#/components/schemas/RefreshToken"
      responses:
        "200":
          description: Обновление токенов прошло успешно
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RefreshResponse"

        "400":
          description: Произошла ошибка
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServerError"

  /user/profile:
    get:
      summary: Получить информацию о профиле
      tags: [Профиль]
      responses:
        "200":
          description: Информация о профиле получена успешно
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProfileResponse"

        "400":
          description: Произошла ошибка
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServerError"

  /schedule/all:
    get:
      summary: Получить информацию о всех маршрутах
      tags: [Расписание]
      security: []
      responses:
        "200":
          description: Запрос возвращает список из всех маршрутов
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ScheduleResponse"

        "400":
          description: Произошла ошибка
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServerError"

  /schedule/{routeNumber}:
    get:
      summary: Получить информацию по конкретному маршруту
      tags: [Расписание]
      security: []
      parameters:
        - in: path
          name: routeNumber
          schema:
            type: string
          required: true
          description: Номер маршрута (может быть строкой, например 310а)
      responses:
        "200":
          description: Запрос возвращает список из всех маршрутов
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RouteResponse"

        "400":
          description: Произошла ошибка
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServerError"


components:
  schemas:

    Tokens:
      type: object
      properties:
        accessToken:
          $ref: "#/components/schemas/AccessToken"
        refreshToken:
          $ref: "#/components/schemas/RefreshToken"
      required:
        - accessToken
        - refreshToken

    AccessToken:
      type: string
      description: Refresh токен
      example: "joaksjdo34jlskdjf"

    RefreshToken:
      type: string
      description: Access токен
      example: "joaksjdo34jlskdjf"

    AuthResponse:
      type: object
      properties:
        id:
          type: integer
          description: id пользователя
          example: 1
        login:
          type: string
          description: Логин пользователя
          example: "User_1234"
        fullName:
          type: string
          description: ФИО пользователя
          example: "Иванов Василий Иванович"
        email:
          type: string
          description: Почта пользователя
          example: "user1234@mail.com"
        role:
          $ref: "#/components/schemas/Roles"
        tokens:
          $ref: "#/components/schemas/Tokens"
        info:
          $ref: "#/components/schemas/InfoSuccess"

    AuthRequest:
      type: object
      properties:
        login:
          type: string
          description: Логин пользователя
          example: "Test1"
        password:
          type: string
          description: Пароль
          example: "Test1"
      required:
        - login
        - password

    ServerError:
      type: object
      properties:
        info:
          $ref: "#/components/schemas/InfoError"

    InfoError:
      type: object
      properties:
        status:
          type: string
          example: "UNAUTHORIZED"
        message:
          type: string
          description: Сообщение об ошибке
          example: "Не верный логин или пароль!"
      required:
        - status
        - message

    InfoSuccess:
      type: object
      properties:
        status:
          type: string
          example: "SUCCESS"
        message:
          type: string
          description: Сообщение об успехе выполнения запроса
          example: "Успех!"
      required:
        - status
        - message

    Roles:
      type: string
      description: Роль пользователя (права доступа)
      example: "ADMIN"
      enum:
        - USER
        - MODERATOR
        - ADMIN

    RegisterRequest:
      type: object
      properties:
        login:
          type: string
          description: Логин пользователя
          example: "User"
        password:
          type: string
          description: Пароль
          example: "User_password"
        fullName:
          type: string
          description: ФИО
          example: "Иванов Василий Иванович"
        email:
          type: string
          description: Почта пользователя
          example: "user@mail.com"
      required:
        - login
        - password
        - fullName
        - email

    RefreshResponse:
      type: object
      properties:
        accessToken:
          $ref: "#/components/schemas/AccessToken"
        refreshToken:
          $ref: "#/components/schemas/RefreshToken"
        info:
          $ref: "#/components/schemas/InfoSuccess"

    ProfileResponse:
      type: object
      properties:
        id:
          type: integer
          description: id пользователя
          example: 1
        login:
          type: string
          description: Логин пользователя
          example: "User_1234"
        fullName:
          type: string
          description: ФИО пользователя
          example: "Иванов Василий Иванович"
        email:
          type: string
          description: Почта пользователя
          example: "user1234@mail.com"
        role:
          $ref: "#/components/schemas/Roles"

    ScheduleResponse:
      type: object
      properties:
        routes:
          type: array
          items:
            $ref: "#/components/schemas/RouteModel"
        info:
          $ref: "#/components/schemas/InfoSuccess"

    RouteModel:
      type: object
      properties:
        id:
          type: integer
          description: ID маршрута
          example: 1
        routeNumber:
          type: string
          description: Номер маршрута
          example: 310
        name:
          type: string
          description: Наименование маршрута
          example: "Графское - Воронеж"
        description:
          type: string
          description: Описание маршрута
          example: "Идёт через лес"
        departureStart:
          $ref: "#/components/schemas/DepartureModel"
        departureEnd:
          $ref: "#/components/schemas/DepartureModel"

    DepartureModel:
      type: object
      properties:
        id:
          type: integer
          description: ID отправления
          example: 1
        departureFrom:
          type: string
          description: Наименование места отправления
          example: Воронеж
        timeList:
          type: array
          items:
            $ref: "#/components/schemas/TimeModel"

    TimeModel:
      type: object
      properties:
        id:
          type: integer
          description: ID времени
          example: 1
        time:
          type: string
          description: Время отправления
          example: "6:50"
        description:
          type: string
          description: Описание для времени отправления
          example: Отправление от Парижской коммуны

    RouteResponse:
      type: object
      properties:
        route:
          $ref: "#/components/schemas/RouteModel"
        info:
          $ref: "#/components/schemas/InfoSuccess"

  securitySchemes:
    AuthApiKey:
      description: Ключ авторизованного пользователя
      type: apiKey
      in: header
      name: Authorization